<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1>Cập nhật sản phẩm</h1>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Tên sản phẩm</label>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Tên sản phẩm" formControlName="name">
            <div *ngIf="form.get('name')?.invalid &&
           (form.get('name')?.dirty || form.get('name')?.touched)">
                <span class="text-danger" *ngIf="form.get('name')?.hasError('required')">Trường Name là bắt buộc</span>
                <span class="text-danger" *ngIf="form.get('name')?.hasError('minlength')">Trường Name bắt buộc nhập 3 ký tự</span>
            </div>
        
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Giá sản phẩm</label>
          <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Giá sản phẩm" formControlName="price">
          <div *ngIf="form.get('price')?.invalid &&
           (form.get('price')?.dirty || form.get('price')?.touched)">
                <span class="text-danger" *ngIf="form.get('price')?.hasError('required')">Trường Price là bắt buộc</span>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Ảnh sản phẩm</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Ảnh sản phẩm" formControlName="image">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Nội dung</label>
            <textarea name="description" id="" cols="10" rows="30" class="form-control" placeholder="Nội dung" formControlName="description"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Cập nhật sản phẩm</button>
      </form>
</div>
