<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1>Đăng nhập</h1>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" formControlName="email">
            <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)">
                <span class="text-danger" *ngIf="form.get('email')?.hasError('required')">Trường Email là bắt buộc</span>
                <span class="text-danger" *ngIf="form.get('email')?.hasError('email')">Email không đúng định dạng</span>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mật khẩu" formControlName="password">
            <div *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)">
                <span class="text-danger" *ngIf="form.get('password')?.hasError('required')">Trường mật khẩu là bắt buộc</span>
                <span class="text-danger" *ngIf="form.get('password')?.hasError('minlength')">Mật khẩu bắt buộc phải có 6 ký tự</span>
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Đăng nhập</button>
    </form>
</div>

